body{
     padding    : 0;
     margin     : 0;
     font-family: Helvetica;
      margin-top: 45px;
     background-color: rgba(87, 255, 255, 0.774);
     background-size: 100%;
}


/*===========TOP TABS========*/
.tabs-top {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-left: 15px;
}

.tabs-top  a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.tabs-top  a:hover {
  color: #f1f1f1;
}

.main-home {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*========MAIN-HOME==========*/

#main-home{
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    
}


#main{
    margin-top: 40px;
    background-image: url(photos/three-trishul.png);
    background-position: 100%;
    background-size: 100%;
   
    margin-bottom: 40px;
    
}


#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

#sub {
    
  margin-top: 40px;
  filter: blur(8px); 
  -webkit-filter: blur(8px); 
}

/*===========FEEDBACK PAGE=========*/

#fb {
  margin-top: 40px;
  display: flex;
 justify-content: center;

}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  text-align: center;
  font-style: italic;
  padding: 20px; 
}

input{
      width: 100%;
      height: 25px;
      margin : 12px 15px;
      border : 1px solid #929292;
}

textarea{
      width: 100%;
      height :65px;
      margin : 12px 15px;
      border : 1px solid #929292;
}

.button{
      display : block;
      width: 100%;
      background-color: rgb(209, 37, 152);
      text-decoration : none;
      text-align  : center;
      color       : white;
      font-size   : 16px;
      font-weight : 600;
      margin : 45px 15px;
      padding : 8px 8px;
      margin-bottom: 60px;
}

#mes {
  margin-top: 40px;
  display: flex;
 justify-content: center;

}

#mess h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mess p{
    text-align: center;
    font-style: italic;
}
#mess {
    margin-bottom: 45px;
}

/*=========INFO BOX========*/

a.info-box{
      text-decoration : none;
      background      : rgba(255 ,225, 255, .8);
      width           : 90%;
      height          : 90px;
      display         : block;
      margin          : auto;
      margin-top      : 12px;
      padding         : 1px; 
}

.info-box img{
      height : 70px;
      margin : 10px;
      float  : left;
}

.info-box h3{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color : #572800;
}

.info-box p{
      margin  : 0;
      padding : 0;
      width   : 90%;
      color   : 131313;
}

.info-box img.right{
      float      : right;
      margin-top : 25px;
      height :40px; 
}



#content2{
    padding-top: 1px;
    padding-bottom: 50px;
}

.contacts{
      background-color : rgba(35, 138, 255, 0.8) ;
      width   : 100%;
      display : block;
      margin  : auto;
      margin-top : 45px;
      padding    : 10px;
      margin-bottom: 45px;
}
.contacts {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: crimson;
      font-weight: bolder;
}
.subhead {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: crimson;
      font-weight: bolder;
}